<div>
    <div class="">
        <h1 class="display-6 mb-5">Contáctame</h1>

    </div>

    <div class="row">
        <div class="col-md-8 col-sm-12">

            <form novalidate class="needs-validation" (ngSubmit)="enviarFormulario()" [formGroup]="formulario">

                <div class="mb-3">
                    <label for="names" class="form-label">Nombres</label>
                    <input formControlName="names" type="text" name="names" class="form-control" id="names"
                        [ngClass]="{ 'is-invalid': enviado && fc['names'].errors }">
                    <div *ngIf="enviado && fc['names'].errors" class="invalid-feedback">
                        <div *ngIf="fc['names'].errors?.['required']">Por favor, ingrese su nombre.</div>
                    </div>

                </div>
                <div class="mb-3">
                    <label for="emial" class="form-label">Email</label>
                    <input formControlName="email" type="email" name="email" class="form-control"
                        id="emaill" [ngClass]="{ 'is-invalid': enviado && fc['email'].errors }">
                    <div *ngIf="enviado && fc['email'].errors" class="invalid-feedback" >
                        <div *ngIf="fc['email'].errors?.['required']">Por favor, ingrese su email.</div>
                        <div *ngIf="fc['email'].errors?.['email']">Por favor, ingrese un email valido.</div>
        
                    </div>
                </div>

                <div class="floatingTextarea mb-3">
                    <label for="exampleInputEmail1" class="form-label">Mensaje</label>
                    <textarea formControlName="message" rows="4" name="message" class="form-control"
                        id="floatingTextarea" [ngClass]="{ 'is-invalid': enviado && fc['message'].errors }"></textarea>
                    <div *ngIf="enviado && fc['message'].errors" class="invalid-feedback">
                        <div *ngIf="fc['message'].errors?.['required']">Por favor, ingrese su un mnesaje.</div>

                    </div>
                </div>

                <button type="submit" class="btn btn-dark">Enviar</button>
            </form>

        </div>
        <div class="col-md-4 col-sm-12 mt-3 bg-dark d-flex flex-column justify-content-center align-items-center">

            <p class="text-light mt-3">
                <i class="bi bi-envelope-at-fill me-2"></i>
                <!-- Enlace para abrir la aplicación de correo -->
                <a href="mailto:gallegohector96@gmail.com" class="text-light">gallegohector96@gmail.com</a>
            </p>
            <p class="text-light">
                <i class="bi bi-whatsapp me-2"></i>
                <!-- Enlace para abrir la aplicación de WhatsApp -->
                <a href="https://wa.me/573004468401" target="_blank" class="text-light">+57 300-446-8401</a>
            </p>

        </div>

    </div>


</div>