<div class="container mt-5">

    <div class="mb-5">
        <h1 class="display-6">Un poco de Arte IA</h1>
    </div>

    <div class="d-flex flex-wrap justify-content-around">

        <div class="image-container mb-4" (mouseenter)="showText()" (mouseleave)="hideText()">
            <img class="img-fluid rounded" src="https://th.bing.com/th/id/OIG.1GfHuLzG3tjpAh9ImhVP?pid=ImgGn" alt="">
            <div class="overlay" *ngIf="isTextVisible">
                <ngx-typed-js   [shuffle]="true" [typeSpeed]="40" [backDelay]="200" [strings]="['a robot made of analog stereo equipment, digital art']">
                    <span class="typing"></span>
                </ngx-typed-js>
            </div>
        </div>
        <div class="image-container mb-4" (mouseenter)="showText()" (mouseleave)="hideText()">
            <img class="img-fluid rounded " src="https://th.bing.com/th/id/OIG.AFwZhNexL4pAKX44tIYr?pid=ImgGn" alt="">
            <div class="overlay" *ngIf="isTextVisible">
                <ngx-typed-js   [shuffle]="true" [typeSpeed]="40" [backDelay]="200" [strings]="['Beautiful indigenous woman posing amidst the Amazon rainforest, photorealistic.']">
                    <span class="typing"></span>
                </ngx-typed-js>
            </div>
        </div>

        <div class="image-container mb-4" (mouseenter)="showText()" (mouseleave)="hideText()">
            <img class="img-fluid rounded" src="https://th.bing.com/th/id/OIG.wP15Mh2sAKEbXSRSSuGC?pid=ImgGn" alt="">
            <div class="overlay" *ngIf="isTextVisible">
                <ngx-typed-js   [shuffle]="true" [typeSpeed]="40" [backDelay]="200" [strings]="['Majestic black panther walking through an aurora borealis.']">
                    <span class="typing"></span>
                </ngx-typed-js>
            </div>
        </div>
        
        <div class="image-container mb-4" (mouseenter)="showText()" (mouseleave)="hideText()">
            <img class="img-fluid rounded" src="https://th.bing.com/th/id/OIG.sd1QepORzwCNcy8Oczyc?pid=ImgGn" alt="">
            <div class="overlay" *ngIf="isTextVisible">
                <ngx-typed-js   [shuffle]="true" [typeSpeed]="40" [backDelay]="200" [strings]="['A Wayuu indigenous girl facing forward, photorealistic.']">
                    <span class="typing"></span>
                </ngx-typed-js>
            </div>
        </div>
        
         
        <div class="image-container mb-4" (mouseenter)="showText()" (mouseleave)="hideText()">
            <img class="img-fluid rounded" src="https://th.bing.com/th/id/OIG._KZfrJXV2Pmib4RBJaJt?pid=ImgGn" alt="">
            <div class="overlay" *ngIf="isTextVisible">
                <ngx-typed-js   [shuffle]="true" [typeSpeed]="40" [backDelay]="200" [strings]="['Majestic discarded robot in a field of flowers.']">
                    <span class="typing"></span>
                </ngx-typed-js>
            </div>
        </div>

        <div class="image-container mb-4" (mouseenter)="showText()" (mouseleave)="hideText()">
            <img class="img-fluid rounded" src="https://th.bing.com/th/id/OIG.FoGBroXb4UygNvxLqO4W?pid=ImgGn" alt="">
            <div class="overlay" *ngIf="isTextVisible">
                <ngx-typed-js   [shuffle]="true" [typeSpeed]="40" [backDelay]="200" [strings]="['futuristic scene with skyscrapers, hovercrafts and robots']">
                    <span class="typing"></span>
                </ngx-typed-js>
            </div>
        </div>

        <div class="image-container mb-4" (mouseenter)="showText()" (mouseleave)="hideText()">
            <img class="img-fluid rounded" src="https://th.bing.com/th/id/OIG.oFhLQE61juQtQjfb6i.9?pid=ImgGn" alt="">
            <div class="overlay" *ngIf="isTextVisible">
                <ngx-typed-js   [shuffle]="true" [typeSpeed]="40" [backDelay]="200" [strings]="['Enchanted Garden Picnic, digital art']">
                    <span class="typing"></span>
                </ngx-typed-js>
            </div>
        </div>

        <div class="image-container mb-4" (mouseenter)="showText()" (mouseleave)="hideText()">
            <img class="img-fluid rounded" src="https://th.bing.com/th/id/OIG.VZoqvyHUeYvhQ.rkP0PB?pid=ImgGn" alt="">
            <div class="overlay" *ngIf="isTextVisible">
                <ngx-typed-js   [shuffle]="true" [typeSpeed]="40" [backDelay]="200" [strings]="['A robotic woman, looking upwards at an upside-down city, panoramic view, realistic art.']">
                    <span class="typing"></span>
                </ngx-typed-js>
            </div>
        </div>

        <div class="image-container mb-4" (mouseenter)="showText()" (mouseleave)="hideText()">
            <img class="img-fluid rounded" src="https://th.bing.com/th/id/OIG.vJKvBxvRqUnNqyigLEWk?pid=ImgGn" alt="">
            <div class="overlay" *ngIf="isTextVisible">
                <ngx-typed-js   [shuffle]="true" [typeSpeed]="40" [backDelay]="200" [strings]="['Beautiful and majestic victorious dark elf warrior amidst a thousand soldiers, photorealistic.']">
                    <span class="typing"></span>
                </ngx-typed-js>
            </div>
        </div>

        <div class="image-container mb-4" (mouseenter)="showText()" (mouseleave)="hideText()">
            <img class="img-fluid rounded" src="https://th.bing.com/th/id/OIG.D4MTE2CVrMhaRydONt.e?pid=ImgGn" alt="">
            <div class="overlay" *ngIf="isTextVisible">
                <ngx-typed-js   [shuffle]="true" [typeSpeed]="40" [backDelay]="200" [strings]="['Human eye reflecting a black hole devouring a galaxy, photorealistic.']">
                    <span class="typing"></span>
                </ngx-typed-js>
            </div>
        </div>


       


    </div>
</div>