<div class="container bg-white mt-5">


    <div>
        <h1 class="display-6 mb-5">Mapa Contaminantes
            <a href="
            "><i class="bi bi-box-arrow-up-right" style="font-size: 1rem;"></i></a>
            
        </h1>
    </div>

    <div class="d-flex flex-column">

        <div class="d-flex row mb-3">

            <div class="col-md-3 col-sm-12 mt-2">
                <span class="text-secondary"><i class="bi bi-list-columns-reverse me-2"></i>Descripción del
                    proyecto</span>
            </div>
            <div class="col-md-9 col-sm-12 mt-2">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, sit deserunt quibusdam autem
                    eos
                    aliquam, accusantium ullam itaque consequatur perspiciatis vitae voluptatem, quod labore delectus et
                    reprehenderit beatae placeat exercitationem.
                </p>
            </div>
        </div>

        <div class="d-flex row mb-3">
            <div class="col-md-3 col-sm-12 mt-2">
                <span class="text-secondary"><i class="bi bi-boxes me-2"></i>Categoria</span>
            </div>
            <div class="col-md-9 col-sm-12 mt-2">
                <span class="badge text-bg-light">Aplicación web FullStack</span>
            </div>
        </div>


        <div class="d-flex row mb-3">
            <div class="col-md-3 col-sm-12 mt-2">
                <span class="text-secondary"><i class="bi bi-people-fill me-2"></i>Colaboradores</span>
            </div>
            <div class="col-md-9 col-sm-12 mt-2">
                <p class="text-secondary"> vacío</p>
            </div>
        </div>

        <div class="d-flex row mb-3">
            <div class="col-md-3 col-sm-12 mt-2">
                <span class="text-secondary"><i class="bi bi-calendar-date me-2"></i>Fecha</span>
            </div>
            <div class="col-md-9 col-sm-12 mt-2">
                <p> 20 de Diciembre de 2023</p>
            </div>
        </div>

        <div class="d-flex row mb-3">
            <div class="col-md-3 col-sm-12 mt-2">
                <span class="text-secondary"><i class="bi bi-person-workspace me-2"></i>Mi rol</span>
            </div>
            <div class="col-md-9 col-sm-12 mt-2">
                <span class="badge text-bg-light me-2">diseñador UI</span>
                <span class="badge text-bg-light me-2">Desarrollador Backend</span>
                <span class="badge text-bg-light me-2">Desarrollador FrontEnd</span>
            </div>
        </div>


        <div class="d-flex row mb-3">
            <div class="col-md-3 col-sm-12 mt-2" >
                <span class="text-secondary"><i class="bi bi-code-slash me-2"></i>Tecnologías</span>
            </div>
            <div class="col-md-9 col-sm-12 mt-2">
                <span class="badge text-bg-light me-2">Java</span>
                <span class="badge text-bg-light me-2">SpringBoot</span>
                <span class="badge text-bg-light me-2">Angular</span>
                <span class="badge text-bg-light me-2">Bootstrap</span>
            </div>
        </div>

        <div class="mt-3">

            <button class="btn btn-sm btn-dark mt-2 me-3"><i class="bi bi-github me-2"></i>Repo BackEnd</button>
            <button class="btn btn-sm btn-dark mt-2 me-3"><i class="bi bi-github me-2"></i>Repo FrontEnd</button>
            <button class="btn btn-sm btn-dark mt-2 me-3"><i class="bi bi-box-arrow-up-right me-2"></i>Ver demo </button>

        </div>

    </div>

    <hr>

    <div class="mt-3">

        <div class="row d-flex justify-content-center ">

            <div class="col-md-6 col-sm-12 p-3">
                <img class="img-fluid" src="assets/img/img-11.png" alt="">
            </div>

            <div class="col-md-6 col-sm-12  p-3">
                <img class="img-fluid" src="assets/img/img-12.png" alt="">
            </div>

            <div class="col-md-6 col-sm-12  p-3">
                <img class="img-fluid" src="assets/img/img-13.png" alt="">
            </div>
            <div class="col-md-6 col-sm-12  p-3">
                <img class="img-fluid" src="assets/img/img-14.png" alt="">
            </div>

        </div>

    </div>

    <hr>

    <div class="mt-5">
        <div>
            <h1 class="h2">Acerca de Mapacontaminates</h1>
        </div>
        <div class="mt-3">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, consequuntur. Error quisquam, libero aut
                consectetur explicabo quam veritatis nostrum corrupti consequatur reprehenderit esse ducimus assumenda
                ullam porro quas tenetur cumque?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis veritatis commodi dignissimos voluptatibus
                sint minus rerum molestiae exercitationem debitis, deleniti fugit dicta temporibus earum quisquam at
                modi distinctio expedita tenetur!
            </p>
        </div>

        

        <div class="mt-5">
            <h1 class="h4">Desafios</h1>
        </div>
        <div class="mt-3">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum eligendi alias aut sed, consectetur eum
                architecto autem. Corrupti rem laborum porro nisi, magnam amet odit consequatur aliquam, natus eum
                ullam?
            </p>
        </div>
    </div>


</div>