<div>
    <h1 class="display-6 mb-5">
        Lenguajes y herramientas
    </h1>
    <div class="d-flex flex-wrap align-items-center">


        <div class="d-flex flex-column mb-3 me-5  align-items-center">
            <img class="zoom rotate" src="assets/java.svg" style="width: 3.5rem;" alt="">
            <span>Java</span>

        </div>
        <div class="d-flex flex-column mb-3  me-5 align-items-center ">
            <img class="zoom rotate" src="assets/python.svg" style="width: 4rem;" alt="">
            <span>Phyton</span>

        </div>

        <div class="d-flex flex-column mb-3  me-5 align-items-center ">
            <img class="zoom rotate" src="assets/icons8-javascript.svg" style="width: 4rem;" alt="">
            <span>Javascript</span>

        </div>
        <div class="d-flex flex-column mb-3  me-5 align-items-center ">
            <img class="zoom rotate" src="assets/icons8-typescript.svg" style="width: 4rem;" alt="">
            <span>TypeScript</span>

        </div>

        <div class="d-flex flex-column mb-3  me-5 align-items-center">
            <img class="zoom rotate" src="assets/html5.svg" style="width: 3rem;" alt="">
            <span>Html</span>

        </div>
        <div class="d-flex flex-column mb-3  me-5 align-items-center">
            <img class="zoom rotate" src="assets/css3-alt.svg" style="width: 3rem;" alt="">
            <span>Css</span>
        </div>

        <div class="d-flex flex-column mb-3  me-5 align-items-center">
            <img class="zoom rotate" src="assets/icons8-spring-boot 1.svg" style="width: 4rem;" alt="">
            <span>SpringBoot</span>

        </div>
        <div class="d-flex flex-column mb-3  me-5 align-items-center">
            <img class="zoom rotate" src="assets/angular.svg" style="width: 3.3rem;" alt="">
            <span>Angular</span>

        </div>
        <div class="d-flex flex-column mb-3  me-5 align-items-center">
            <img class="zoom rotate" src="assets/bootstrap-fill.svg" style="width: 3.3rem;" alt="">
            <span>Bootstrap</span>

        </div>
        <div class="d-flex flex-column mb-3  me-5 align-items-center">
            <img class="zoom rotate" src="assets/icons8-postgresql.svg" style="width: 4rem;" alt="">
            <span>PostgreSQL</span>

        </div>
        <div class="d-flex flex-column mb-3  me-5 d-flex flex-column me-5 align-items-center">
            <img class="zoom rotate" src="assets/git-alt.svg" style="width: 4rem;" alt="">
            <span>Git</span>

        </div>
        <div class="d-flex flex-column mb-3  me-5 align-items-center ">
            <img class="zoom rotate" src="assets/github.svg" style="width: 4rem;" alt="">
            <span>GitHub</span>

        </div>
        <div class="d-flex flex-column mb-3  me-5 align-items-center ">
            <img class="zoom rotate" src="assets/icons8-jira.svg" style="width: 4rem;" alt="">
            <span>Jira</span>
        </div>

    </div>

</div>